@media screen and (min-width: 375px) and (max-width: 383px) {
    html {
        font-size: 625%;
    }
}

@media screen and (min-width: 384px) and (max-width: 399px) {
    html {
        font-size: 640%;
    }
}

@media screen and (min-width: 400px) and (max-width: 413px) {
    html {
        font-size: 685%;
    }
}

@media screen and (min-width: 414px) and (max-width: 431px) {
    html {
        font-size: 690%;
    }
}

@media screen and (min-width: 432px) and (max-width: 479px) {
    html {
        font-size: 720%;
    }
}

@media screen and (min-width: 480px) and (max-width: 500px) {
    html {
        font-size: 800%;
    }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
    html {
        font-size: 1000%;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 1280%;
    }
}
